---
import Layout from '../layouts/Layout.astro';
const iconSize = 50
---

<Layout title="CuantumCode">
	<main>
		
		<h1>Welcome to <span class="text-gradient">CuantumCode</span></h1>
      <h2>Centro de Soluciones</h2>
		<p class="instructions">
			Proximamente
		</p>
      <div class="social-media">
         <h3>Siguenos en nuestras redes sociales</h>
         <div class="social-btns">
            <a href="https://www.instagram.com/cuantumcode/"><svg  xmlns="http://www.w3.org/2000/svg"  width={iconSize}   height={iconSize}  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></a>
            <a href="https://x.com/cuantumcode" target="_blank" rel="norreferrer noopener">
               <svg  xmlns="http://www.w3.org/2000/svg"  width={iconSize}  height={iconSize}  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
            </a>
            
            <a href="https://www.facebook.com/profile.php?id=61567296204144" target="_blank" rel="norreferrer noopener">
               <svg  xmlns="http://www.w3.org/2000/svg"  width={iconSize}  height={iconSize}  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
            </a>
            
         </div>
         </div>
         
      </main>
   </Layout>
   
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
	}
   h2{
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 2em;
   }
   h3{
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 1rem;
   }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
      text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
   .social-btns{
      display: flex;
      gap: 1rem;
      justify-content: center
   }
   .social-btns a {
  
      padding: 0.5rem;
      aspect-ratio:1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.375rem;
      border: 1px solid #708090;
      color: slategray;
   }
   .social-btns a:hover {
      background-color: rgba(112, 128, 144, 33%);
      color: white;
   }
   .social-btns a:active {
      background-color: rgba(112, 128, 144, 50%);
   }
	
</style>
